html {
  font-family: "DotGothic16", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Silkscreen", cursive;
  background-color: aqua;
}

h1 {
  font-family: "DotGothic16", sans-serif;
}
