html {
  font-family: "DotGothic16", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Silkscreen", cursive;
  background-color: aqua;
}

#btnNavBar{
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: green;  
}
#btnNavBar:hover {
  font-size: 30px;
}

#btnNavBar:hover img {
  opacity: 1;
  visibility: visible;
  color: aquamarine;
}
main {
  
}
h1 {
 
}

.footer{

}